* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* temp */
img {
  width: 100%;
}

.country-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
